.pdpContent {
  grid-area: content;
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.product {
  width: 100%;
  margin-bottom: 1.6rem;
}

.name,
.dimension,
.price,
.addToCart {
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.name {
  font-size: 22px;
  margin-bottom: 1.6rem;
}

.infoBox {
  font-size: 16px;
}

.mainImage {
  margin: 1rem auto;
  text-align: center;
}

.mainImage img {
  width: 100%;
  max-width: 500px;
}

.productInfo {
  text-align: center;
  margin: 1rem 0;
}

.addToCart {
  margin: var(--base-gap) auto calc(var(--base-gap) * 2) auto;
  background-color: var(--medium-green);
  color: white;
  padding: calc(var(--base-gap) * 4);
  border-radius: 3px;
  border: 1px solid white;
  cursor: pointer;
  width: 100%;
}

.infoBox {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
 .pdpContent {
   width: 460px;
  }
  .infoBox {
    margin-bottom: 1.4rem;
  }
}

@media only screen and (min-width: 1024px) {
 .pdpContent {
    display: grid;
    grid-template-columns: 10% 60% 30%;
    width: 100%;
  }
  .mainImage {
    margin-left: 0;
    margin-right: 2rem;
  }
  .mainImage img {
    max-width: 580px;
  }
  .product {
    width: 80%;
  }
  .name {
    font-size: 2rem;
  }
  .infoBox {
    font-size: 1.2rem;
  }
  .addToCart {
    font-size: 1rem;
  }
  .infoBox {
    flex-direction: column;
  }
}
