.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2.6rem 1fr 3rem;
}

.title {
  font-family: 'Caveat Brush', sans-serif;
}

.burger {
  background-color: transparent;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  background-image: url('../../images/menu.svg');
  background-repeat: no-repeat;
  background-size: 2.3rem 3.3rem;
}

.cart {
  display: none;
  appearance: button;
  background-color: transparent;
  text-decoration: none;
  color: initial;
  cursor: pointer;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  border: 0;
  background-image: url('../../images/cart.svg');
  background-repeat: no-repeat;
  text-indent: -9999px;
  width: 3rem;
  height: 2.4rem;
  background-size: 2.8rem 2.2rem;
  margin-top: 0.5rem;
  margin-right: 0.4rem;
  height: 100%;
}

@media only screen and (min-width: 1025px) {
  .header {
    grid-template-columns: 3rem 1fr 3rem;
  }
}
