
.product {
  height: auto;
  width: calc(50% - var(--base-gap));
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--light-green);
  padding: calc(var(--base-gap) * 2) 0 0 0;
  margin: calc(var(--base-gap) / 2) 0;
  border-radius: var(--base-gap);
}

.name {
  margin: calc(var(--base-gap) * 3) auto;
}

.price {
  font-style: italic;
}

.addToCart {
  margin: var(--base-gap) auto calc(var(--base-gap) * 2) auto;
  background-color: var(--medium-green);
  color: white;
  padding: calc(var(--base-gap) * 3);
  border-radius: 3px;
  border: 1px solid white;
  cursor: pointer;
}

.addToCart:focus {
  border: 1px dotted var(--dark-green);
}

.addToCart:hover {
  filter: brightness(110%) saturate(140%);
}

.imageContainer {
  width: 96%;
  margin: 0 auto;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: calc(1.33333333 * 100%);
  border-radius: var(--base-gap);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .product {
    width: calc(33% - var(--base-gap));
  }
}

@media only screen and (min-width: 1024px) {
  .product {
    width: calc(25% - var(--base-gap));
    max-width: 400px;
    margin-bottom: 1%;
  }
}
