.pdpContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name,
.dimension,
.price,
.addtocart {
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.name {
  font-size: 22px;
}

.price {
  font-size: 16px;
}

.mainImage {
  margin: 1rem 0;
}

.mainImage img {
  width: 100%;
}

.productInfo {
  text-align: center;
}

@media only screen and (min-width: 1025px) {
 .pdpContent {
    display: grid;
    grid-template-columns: 10px 1fr 30%;
  }
}
