.plpContent {
  grid-area: content;
  padding: calc(var(--base-gap) * 2);
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.pageHeader .title {
  font-family: 'Caveat Brush', sans-serif;
  font-size: 34px;
  color: var(--green);
}

.paginationBox {
  height: 36px;
  text-align: center;
  line-height: 2.4;
}

.pageHeader .left {
  text-align: left;
  line-height: 1.6;
}

@media only screen and (min-width: 768px) {
  .product {
    width: calc(33% - var(--base-gap));
  }
  .pageHeader .left {
    line-height: 1.4;
  }
  .pageHeader .title {
    font-size: 44px;
  }
}

@media only screen and (min-width: 1024px) {
  .plp-content {
    grid-area: content;
    padding: 2rem;
  }

  .pageHeader {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}
