.plpContent {
  grid-area: content;
  padding: 0.4rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  height: auto;
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.product .name {
  margin: 0.6rem auto;
  width: 300px;
  line-height: 1.2;
}

.addToCart {
  margin: 0 auto;
  margin: 1rem auto 2rem auto;
  width: 50%;
  height: 2rem;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin: 1rem auto;
}

.pageHeader .title {
  font-family: 'Caveat Brush', sans-serif;
  font-size: 32px;
  color: var(--green);
}

.product .image {
  width: 50%;
}

.pageHeader .cercapiante span {
  margin-left: -2.5rem;
  position: relative;
  text-shadow: 1px 1px 2px var(--white), 0 0 0.2em var(--grey);
}

@media only screen and (min-width: 1025px) {
  .plp-content {
    grid-area: content;
    padding: 2rem;
  }

  .pageHeader .left {
    text-align: left;
  }

  .pageHeader {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    margin: 0.6rem auto;
  }
}
