.plpContent {
  grid-area: content;
  padding: calc(var(--base-gap) * 2);
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin: 1rem auto;
}

.pageHeader .title {
  font-family: 'Caveat Brush', sans-serif;
  font-size: 32px;
  color: var(--green);
}

@media only screen and (min-width: 768px) {
  .product {
    width: calc(33% - var(--base-gap));
  }
}

@media only screen and (min-width: 1024px) {
  .plp-content {
    grid-area: content;
    padding: 2rem;
  }

  .pageHeader .left {
    text-align: left;
  }

  .pageHeader {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    margin: calc(var(--base-gap) * 3) auto;
  }
}
