
.cercapiante {
  display: flex;
  color: var(--green);
}

.cercapiante img {
  height: 55px;
}

.cercapiante span,
.searchInput input {
  margin-bottom: 0.1rem;
}

.searchInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchInput input {
  width: 6rem;
}
