/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: 0.2rem solid azure;
}

:root {
  /* as is colors */
  --black: #000000;
  --ochre: #e8dc7b;
  --brown: #7e3407;
  --orange: #ff6633;
  --light-orange: #ffbc00;
  --green: #008000;
  --green2: #008200;
  --white: #ffffff;
  --grey: #ccc;
}

a,
a:visited {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  color: var(--orange);
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 9rem 1fr;
  grid-template-rows: 3.2rem 1fr 5rem;
  grid-template-areas:
    'header  header'
    'content  content'
    'footer  footer';
  font-family: 'Roboto', sans-serif;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2.6rem 1fr 3rem;
}

.header__burger {
  webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: transparent;
  text-decoration: none;
  color: initial;
  cursor: pointer;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  border: 0;
  background-image: url('menu.svg');
  background-repeat: no-repeat;
  background-size: 2.3rem 3.3rem;
  margin-left: 0.4rem;
  height: 100%;
}

.header__logo {
  padding-top: 0.1rem;
}

.header__content {
  text-align: left;
  display: flex;
  margin: 0 auto;
  color: var(--brown);
}

.header__content h1 {
  font-size: 32px;
  text-shadow: 2px 2px 16px var(--grey);
}

.header__content p {
  font-size: 16px;
  text-shadow: 2px 2px 16px var(--grey);
}

.header__title {
  padding: 0 0.4rem;
  font-family: 'Caveat Brush', sans-serif;
  line-height: 0.9;
}

.header__logo img {
  width: auto;
  height: 42px;
}

.header__cart {
  appearance: button;
  background-color: transparent;
  text-decoration: none;
  color: initial;
  cursor: pointer;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  border: 0;
  background-image: url('cart.svg');
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px;
  width: 3rem;
  height: 2.4rem;
  background-size: 2.8rem 2.2rem;
  margin-top: 0.5rem;
  margin-right: 0.4rem;
  height: 100%;
}

.footer {
  grid-area: footer;
  padding: 0.5rem;
  text-align: center;
}

.footer__contactus {
  font-size: 16px;
  margin-top: 0.4em;
}

.footer address,
.footer__laws {
  font-size: 12px;
  margin-top: 0.4rem;
  line-height: 1.2;
}

.footer__laws {
  width: 80%;
  margin: 0 auto;
  font-weight: 300;
}

.footer__laws {
  display: none;
}

.menu {
  grid-area: sidebar;
  width: 14rem;
  height: 100vh;
  position: absolute;
  top: 0;
  left: calc(-14rem - 2px);
  transition: left 0.4s;
  display: grid;
  grid-template-rows: 3.2rem 1fr;
  grid-template-areas:
    'header'
    'entries';
  background: var(--ochre);
  border-right: 2px dotted;
  border-image: linear-gradient(180deg, var(--green), var(--orange) 30em) 20;
  z-index: 2;
}

.menu.open {
  left: 0;
  position: fixed;
}

.menu__entries li {
  padding: 0.6rem 0;
  text-align: center;
  font-family: 'Caveat Brush', sans-serif;
  font-size: 20px;
  text-shadow: 2px 2px 16px var(--grey);
}

.menu__entries a,
.menu__entries a:visited {
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--green);
}

.menu__entries a:hover {
  color: var(--white);
}

.menu__close {
  appearance: button;
  background-color: transparent;
  text-decoration: none;
  color: initial;
  cursor: pointer;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  border: 0;
  background-image: url('close.svg');
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px;
  width: 3rem;
  height: 2.4rem;
  background-size: 3.1rem 1.9rem;
  margin-top: 0.7rem;
  margin-right: 0.4rem;
}

.plp-content {
  grid-area: content;
  padding: 0.4rem;
}

.pdp-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__main-image {
  margin: 1rem 0;
}

.page__main-image img {
  width: 100%;
}

.page__product-info {
  text-align: center;
}

.page__products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product__name {
  margin: 0.6rem auto;
  width: 80%;
  line-height: 1.2;
}

.product__addtocart {
  margin: 0 auto;
  margin: 1rem auto 2rem auto;
  width: 50%;
  height: 2rem;
}

.page-header {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin: 1rem auto;
}

.page-header__title {
  font-family: 'Caveat Brush', sans-serif;
  font-size: 32px;
  color: var(--green);
}

.product__image {
  width: 90%;
}

.pdp-content .product__name,
.pdp-content .product__dimension,
.pdp-content .product__price,
.pdp-content .product__addtocart {
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.pdp-content .product__name {
  font-size: 22px;
}

.pdp-content .product__price {
  font-size: 16px;
}

.page-header__cercapiante img {
  width: 2.6rem;
  opacity: 0.8;
}

.page-header__cercapiante span {
  margin-left: -2.5rem;
  position: relative;
  text-shadow: 1px 1px 2px var(--white), 0 0 0.2em var(--grey);
}

.overlay {
  display: none;
}

.menu.open + .overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 1;
}

.page-content {
  padding: 1em;
}

.page-content b {
  font-weight: 700;
}

.page-content h2 {
  color: var(--brown);
  font-size: 28px;
  padding: 0.6em 0;
  text-shadow: var(--grey) 2px 1px 1px;
}

.page-content h3 {
  color: var(--brown);
  font-size: 22px;
  padding: 0.4em 0;
  text-shadow: var(--grey) 2px 1px 1px;
}

.page-content p {
  font-size: 16px;
  line-height: 1.4;
  text-align: justify;
  padding-bottom: 1.2em;
}

.author-box {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 100%;
  padding: 1em 0;
}

.author-box img {
  width: 6em;
  height: 6em;
  margin-left: auto;
}

.author-box span {
  font-size: 14px;
}

.triangle {
  width: 0px;
  height: 0px;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid var(--orange);
  display: block;
  margin: 6px 10px 0 0;
  float: left;
}

@media only screen and (min-width: 1025px) {
  body {
    grid-template-rows: 9rem 1fr 7rem;
    grid-template-columns: 12rem 1fr;
    grid-template-areas:
      'sidebar  header'
      'sidebar  content'
      'sidebar  footer';
  }
  .menu {
    position: static;
    width: auto;
    height: auto;
    z-index: 1;
    padding-top: 2em;
  }
  .menu__header {
    display: none;
  }
  .header {
    grid-template-columns: 3rem 1fr 3rem;
  }
  .header__burger {
    display: none;
  }
  .footer__laws {
    display: block;
    margin-top: 0.4rem;
    width: 60%;
  }
  .header__logo img {
    height: 115px;
  }
  .page-header__title {
    font-size: 50px;
  }

  .page__products article {
    width: 25%;
  }

  .page__product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .page-header {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    margin: 0.6rem auto;
  }

  .header__content h1 {
    font-size: 86px;
    text-shadow: 2px 2px 16px var(--grey);
  }

  .header__content p {
    font-size: 42px;
    text-shadow: 2px 2px 16px var(--grey);
  }

  .page-header__cercapiante {
    position: absolute;
    right: 1rem;
    line-height: 3.4;
  }

  .plp-content {
    grid-area: content;
    padding: 2rem;
  }

  .menu__entries {
    margin-top: 1rem;
  }

  .page-header__left {
    text-align: left;
  }

  .pdp-content {
    display: grid;
    grid-template-columns: 10px 1fr 30%;
  }

  .page-content p {
    text-align: left;
  }
}
