/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: 0.2rem solid azure;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 9rem 1fr;
  grid-template-rows: 3.2rem 1fr 5rem;
  grid-template-areas:
    'header  header'
    'content  content'
    'footer  footer';
  font-family: 'Roboto', sans-serif;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2.6rem 1fr 3rem;
}

.header__burger {
  webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: transparent;
  text-decoration: none;
  color: initial;
  cursor: pointer;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  border: 0;
  background-image: url('menu.svg');
  background-repeat: no-repeat;
  background-size: 2.3rem 3.3rem;
  margin-left: 0.4rem;
}

.header__logo {
  padding-top: 0.1rem;
}

.header__content {
  text-align: left;
  display: flex;
  margin: 0 auto;
}

.header__content h1 {
  font-size: 32px;
}

.header__content p {
  font-size: 16px;
}

.header__title {
  padding: 0 0.4rem;
  font-family: 'Caveat Brush', sans-serif;
  line-height: 0.9;
}

.header__logo img {
  width: auto;
  height: 42px;
}

.header__cart {
  appearance: button;
  background-color: transparent;
  text-decoration: none;
  color: initial;
  cursor: pointer;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  border: 0;
  background-image: url('cart.svg');
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px;
  width: 3rem;
  height: 2.4rem;
  background-size: 2.8rem 2.2rem;
  margin-top: 0.5rem;
  margin-right: 0.4rem;
}

.footer {
  grid-area: footer;
  padding: 0.5rem;
  text-align: center;
}

.footer__contactus {
  font-size: 16px;
  margin-top: 0.4em;
}

.footer address,
.footer__laws {
  font-size: 12px;
  margin-top: 0.4rem;
  line-height: 1.2;
}

.footer__laws {
  width: 80%;
  margin: 0 auto;
  font-weight: 300;
}

.footer__laws {
  display: none;
}

.menu {
  grid-area: sidebar;
  background-color: bisque;
  width: 14rem;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -14rem;
  transition: left 0.4s;
  display: grid;
  grid-template-rows: 3.2rem 1fr;
  grid-template-areas:
    'header'
    'entries';
}

.menu.open {
  left: 0;
}

.menu__entries li {
  padding: 0.6rem 0;
  text-align: center;
  font-family: 'Caveat Brush', sans-serif;
  font-size: 20px;
  text-shadow: 2px 2px 16px #333;
}

.menu__close {
  appearance: button;
  background-color: transparent;
  text-decoration: none;
  color: initial;
  cursor: pointer;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  border: 0;
  background-image: url('close.svg');
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px;
  width: 3rem;
  height: 2.4rem;
  background-size: 2.8rem 2.2rem;
  margin-top: 0.5rem;
  margin-right: 0.4rem;
}

.plp-content {
  grid-area: content;
  background-color: cornsilk;
  padding: 0.4rem;
}

.pdp-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__main-image {
  width: 80%;
}

.page__main-image img {
  width: 100%;
}

.page__products {
  display: flex;
  flex-wrap: wrap;
}

.page__products article {
  width: 50%;
  height: 14rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page__products article button {
  width: 6rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.page-header {
  display: flex;
  justify-content: space-between;
  height: 3rem;
}

.page-header div {
  line-height: 1.4rem;
}

.page-header__title {
  font-size: 22px;
}

.page-header__cercapiante span {
  margin-left: -1.5rem;
}

@media only screen and (min-width: 1025px) {
  body {
    grid-template-rows: 3.2rem 1fr 7rem;
    grid-template-areas:
      'header  header'
      'sidebar  content'
      'footer  footer';
  }
  .menu {
    position: static;
    width: auto;
    height: auto;
  }
  .menu__header {
    display: none;
  }
  .header {
    grid-template-columns: auto;
  }
  .header__burger {
    display: none;
  }
  .footer__laws {
    display: block;
    margin-top: 0.4rem;
    width: 60%;
  }
  .page__products article {
    width: 25%;
  }
}
