.footer {
  grid-area: footer;
  padding: 1rem 0.5rem;
  text-align: center;
  border-top: 2px solid var(--red);
  margin: 0 auto;
  border-image: linear-gradient(90deg, var(--green), var(--orange) 30em) 20;
  line-height: 1.4;
}

.contactus {
  font-size: 16px;
  margin-top: 0.4em;
}

.address,
.laws {
  font-size: 12px;
  margin-top: 0.4rem;
  line-height: 1.2;
}

.laws {
  width: 80%;
  margin: 0 auto;
  font-weight: 300;
}

.laws {
  display: none;
}


@media only screen and (min-width: 1025px) {
  .footer {
    margin: 1rem auto;
  }
  .laws {
    display: block;
    margin-top: 0.4rem;
    width: 60%;
  }
}
