.minicart {
  width: 14rem;
  max-width: 14rem;
  height: 100%;
  position: fixed;
  top: 0;
  right: calc(-14rem - 2px);
  transition: all 0.4s;
  background: var(--ochre);
  border-left: 2px dotted;
  border-image: linear-gradient(180deg, var(--green), var(--orange) 30em) 20;
  z-index: 2;
  font-size: 14px;
}

.open {
  right: 0;
  position: fixed;
}

.close {
  display: none;
}

.open .close {
  appearance: button;
  background-color: transparent;
  text-decoration: none;
  color: initial;
  cursor: pointer;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  border: 0;
  background-image: url('../../images/close.svg');
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999px;
  width: 3rem;
  height: 2.4rem;
  background-size: 3.1rem 1.9rem;
  margin-top: 0.7rem;
  margin-right: 0.4rem;
  margin: 0.7rem 0.4rem 0 auto;
}

.overlay {
  display: none;
}

.open + .overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 1;
}

.contentEmpty {
  width: 90%;
  padding: calc(var(--base-gap) * 2) 0;
  border-top: 2px dotted var(--black);
  margin: 0 auto;
  text-align: center;
}

.content {
  width: 90%;
  padding: calc(var(--base-gap) * 2) 0;
  margin: 0 auto;
  text-align: left;
  list-style: none;
}

.productList {
  width: 90%;
  margin: 0 auto;
}

.listItem {
  list-style: none;
  padding: calc(var(--base-gap) * 2) 0;
  border-top: 2px dotted var(--black);
}

.listItem:last-of-type {
  border-bottom: 2px dotted var(--black);
}

.product {
  display: flex;
}

.productName {
  margin-bottom: calc(var(--base-gap) * 2);
}

.productDescription {
  margin-left: calc(var(--base-gap) * 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.qty {
  margin-top: calc(var(--base-gap) * 2);
  margin-bottom: var(--base-gap);
}

.addButton,
.removeButton {
  margin-right: var(--base-gap);
  background-color: var(--white);
  padding: var(--base-gap) calc(var(--base-gap)  * 2);
  border-width: 1px;
  border-style: outset;
  border-color: var(--black);
  width: 1.4rem;
  border-radius: var(--base-gap);
}

.goToCartWrapper {
  margin: 0 auto;
  text-align: center;
  margin-top: calc(var(--base-gap) * 2);
}

.goToCart {
  width: 90%;
  padding: 0.4rem;
  margin-right: var(--base-gap);
  background-color: var(--white);
  border-width: 1px;
  border-style: outset;
  border-color: var(--black);
  border-radius: var(--base-gap);
}

.addedMessage {
  text-align: center;
  font-weight: bold;
  margin: 0.4em 0;
  text-decoration: underline;
}
